h4{
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 54px;
    padding-top: 50px;
    text-decoration: none;

    color: #009688;    
}

main article p{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    padding-top: 40px;

    color: #000000;    
}

.top-img{
    width: 405px;
    height: 405px;
}

.top{  
    justify-content: space-evenly;   
    display: flex;   
    margin: 5%;  
}

.top-img{
    max-width: 513px;
    max-height: 513px;
}
.mid{
    display: flex;
    justify-content: space-evenly;
    background: #E5E5E5;
    padding-bottom: 170px;
}

.mid img{
    margin-top: 100px;
    margin-bottom: 20px;
}

h6 a{
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-decoration: none;

    color: #FF4081;
}

.mid p{
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #000000;
}

@media only screen and (max-width: 841px) {

    .top{
        display: block;
    }

    .mid{
        display: block;
    }

    .mid img{
        width:259px;
        height:129px;
    }


}

@media only screen and (max-width: 481px) {

    .top{
        display: block;
    }

    .mid{
        display: block;       
    }

    .mid img{
        width:250px;
        height:125px;
        margin-left: 50px;
    }

    .top-img{
        width:  280px;
        height: 280px;
    }

}