*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header{
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25); ;
    display: flex;
    justify-content: center;
    padding-right: 5%;
    padding-left: 5%;
}

header h2 a{
    display: block;
    color: transparent;
    background: url('../dindin-imagens/logo-header.png') 0 0 no-repeat;
    width: 244px;
    height: 77px;
}

header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    margin: 0 0 20px;
    padding: 0;
}

header nav ul li{
    list-style: none;  
    
}

header nav a{
    color: #FDFDFD;
    text-decoration: none;
    size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 10px;
}

footer{
    background: #419488;
    display: flex;
    justify-content: center;
    padding-right: 5%;
    padding-left: 5%;
}

footer h2 a{
    display: block;
    color: transparent;
    background: url('../dindin-imagens/logo-footer.png') 0 0 no-repeat;
    width: 312px;
    height: 102px;
    margin-top: 50px;
}

footer ul{
    margin: 30px 0;
    padding: 0;
}

footer ul li{
    list-style: none;  
    color: #FDFDFD;
    padding: 3px;
}

footer a{
    color: #FDFDFD;
    text-decoration: none;
    size: 20px;
    font-weight: 400;
    text-transform: lowercase;
}

.navbar-bottom{
    margin-top: 30px;
}

.links-anexos a{
    border: 2px solid white;
    border-radius: 62px;
    padding: 14px 51px;
    display: block;
    margin: 0 0 10px;
    text-align: center;
}

@media only screen and (max-width: 841px) {

    .container{
        width: 720px; 
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;     
    }

    .container-main{
        width: 720px;
        margin: auto;      
    }

    video{
        width: 0%;
    }

    .mid1-images{
        flex-direction: column;
    }
    
}

@media only screen and (max-width: 481px) {

    .container{
        width: 375px;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;    
          
    }

    .container-main{
        width: 375px;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;    
          
    }

    video{
        width: 0px;
    }

    header h2 {
        margin: 10px 0;
    }
 
    .mid1-images{
        flex-direction: column;
        width: 360px;
    }
    

}